<script src="../../../components/signup/signup.component.ts"></script>
<script src="signup.component.ts"></script>
<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col">
          <form [formGroup]="signUpForm">
            <div class="mb-3">
              <input
                type="email"
                formControlName="<username>"
                class="form-control form-control-lg rounded-0"
                placeholder="Username">
              <input
                type="email"
                formControlName="email"
                class="form-control form-control-lg rounded-0"
                placeholder="Username">
              <input
                type="password"
                formControlName="password"
                class="form-control form-control-lg rounded-0"
                placeholder="Password">
            </div>
            <div
              *ngIf="error"
              class="alert alert-warning"
              role="alert">
              {{error.message}}
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-lg btn-primary rounded-0"
                (click)="onSignUp()"
              >Sign in</button>
            </div>
            <div class="mb-3">
              <a routerLink="/signup">Create account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
