<!--<div *ngIf="loggedIn; else loggedOut">-->
<!--  <nb-layout center>-->
<!--    <nb-layout-header>-->
<!--      <app-header></app-header>-->
<!--    </nb-layout-header>-->
<!--    <nb-layout-column>-->
<!--      <app-chat></app-chat>-->
<!--    </nb-layout-column>-->
<!--  </nb-layout>-->
<!--</div>-->
<!--<ng-template #loggedOut>-->
<!--  <app-menu></app-menu>-->
<!--</ng-template>-->

<div *ngIf="loggedIn; else loggedOut">
  <nb-layout center>
    <nb-layout-header>
      <app-header></app-header>
    </nb-layout-header>
    <nb-layout-column>
      <app-chat></app-chat>
    </nb-layout-column>
  </nb-layout>
</div>
<ng-template #loggedOut>
  <app-menu></app-menu>
</ng-template>
