<nb-layout center>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <nb-card status="primary">
            <nb-card-header>
              Settings
            </nb-card-header>
            <nb-card-body>
              <input type="file">
              <br>
              <br>
              <nb-toggle (checkedChange)="onCheckedChange($event)">Dark theme</nb-toggle>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

  </nb-layout-column>
</nb-layout>
<ng-template #loggedOut>
  <app-menu></app-menu>
</ng-template>
