<h2>Sign up</h2>
<form [formGroup]="signUpForm">
  <div>
    <label for="username">Username:</label>
    <input
      id="username"
      type="text"
      formControlName="username"
    />
  </div>
  <div>
    <label for="email">Email:</label>
    <input
      id="email"
      type="text"
      formControlName="email"
    />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      formControlName="password"
    />
  </div>
  <button type="button" (click)="onSignUp()">Sign up</button>
</form>
